$primary-color: #000000;
$secondary-color: #e9e9e9;
$white: #FFFFFF;

$media-mobile: 576px;
$media-tablet: 768px;
$media-laptop: 992px;

$base-font: 'Rubik', sans-serif;
$title-font: 'Sigmar', cursive;