/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.personalized-container {
  max-width: 1080px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar', cursive;
}

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  color: white;
}

footer p {
  padding: .5rem 0;
  text-align: center;
  margin: 0;
}

/* Hero section */
div.hero {
  height: 70vh;
  width: 100%;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.hero .hero-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

div.hero .hero-title {
  z-index: 1;
  color: white;
}

/* Index page */
iframe.index-video {
  min-height: 200px;
  width: 100%;
}

header {
  background-color:rgb(0, 0, 0);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  color: white;
}

nav {
  margin-left: auto;
  padding: .5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid white;
}

nav .active-link {
  border-bottom: 1px solid white;
}

.products-container p {
  text-align: center;
  font-weight: bold;
}

.products-container img {
  width: 100%;
}

/* Menu section */
.products-container-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .products-container-flex {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .products-container-flex {
    grid-template-columns: repeat(5, 1fr);
  }
}

.products-container-flex img{
  width: 100%;
}

/* About section */
section.about img{
  width: 100%;
}

/* Contact page */

.form-container {
  margin-top: 4rem;
}

.form-container .img-form img{
  width: 100%;
  margin-bottom: 4rem;
}

.form {
  padding: 2rem;
  padding-bottom: 4rem;
  max-width: 500px;
  background-color:white;
  box-shadow: 0 0 40px rgba(0, 0, 0, .05);
  border-radius: 15px;
  margin-bottom: 6rem;
}

.form input, .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 1rem .5rem;
}


.form input:focus, .form textarea:focus {
  outline: none;
}

.form .text-sm {
  margin-bottom: 2rem;
  display: block;
  font-size: .9rem;
}

.form .submit {
  margin-top: 4rem;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

