header {
  background-color:rgb(0, 0, 0);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .navbar-brand {
    .logo {
      width: 100px;
    }
  }


  nav {
    margin-left: auto;
    padding: .5rem;

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
    }

    a {
      color: white;
      text-decoration: none;
      transition: all .2s ease-in-out;
      border: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    .active-link {
      border-bottom: 1px solid white;
    }
  }
}